.bg-red{
    background: var(--color-red); 
}
.text-green{
    color: var(--color-yellow) !important; 
}
.text-red{
    color: var(--color-red) !important; 
}
.bg-light {
	background-color: #BFFEFF !important;  
}
.text-gray {
	color: #9d9d9c;
} 