/*-----------------------------------------
---------------HERO CSS---------------
------------------------------------------*/
.hero-area {
    position: relative;
    z-index: 2;
    min-height: calc(100vh);
    padding-top: 88px;
    padding-bottom: 10px;
    overflow: hidden;

    .container {
        max-width: 1920px;
    }

    .hero-bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-title-wrap {
        width: 700px;
        margin-left: 50px;
        margin-bottom: 0;
    }

    .scroll-down-btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        @include transform(translateX(-50%));
    }
}