.header-area {
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .brand {
    display: block;

    img {
      width: 80px;
    }
  }

  .navbar-wrapper {
    .navbar-nav {
      flex-direction: row;

      li {
        a {
          font-size: 12px;
          line-height: 15px;
          font-weight: 600;
          color: var(--color-white);
          text-decoration: none !important;
          display: block;
          padding: 20px 10px;
        }
      }
    }
  }
}

.hamburger {
  width: 30px;
  margin: 0 auto;
  display: none;

  &-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;

    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
      margin: 8px auto;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.hamburger-active .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  &.hamburger-active .hamburger-line:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }

  &.hamburger-active .hamburger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-40deg);
  }
}