@media only screen and (max-width: 991.98px) {
    .navbar-wrapper {
      display: none;
    }
  
    .nav-right-wrap {
      font-size: 12px;
    } 
  
    .hamburger {
      display: block;
    }
  
    .display-text-1 { 
        font-size: 120px;
        line-height: 0.7;
    }
  }